/*
 * http://github.com/peteboere/css-crush (v2.4.0)
 */
a{color:#40bf59;margin-left:10px;font-family:qkrun;border-collapse:inherit}/*
 * http://github.com/peteboere/css-crush (v2.4.0)
 */
a {
    color: #40bf59;
    margin-left: 10px;
    font-family: qkrun;
    border-collapse: inherit;
    }
/*
 * http://github.com/peteboere/css-crush (v2.4.0)
 */
p{color:#cd7b32}/*
 * http://github.com/peteboere/css-crush (v2.4.0)
 */
p {
    color: #cd7b32;
    }
/*
 * http://github.com/peteboere/css-crush (v2.4.0)
 */
img{border:solid 1px #1502fd}/*
 * http://github.com/peteboere/css-crush (v2.4.0)
 */
img {
    border: solid 1px #1502fd;
    }
